@model TP_PWEB.Models.Reservation


<div class="col-sm">

    @if (@Model.IsReceived)
    {
        Evaluation ClientEvaluation1;
        Evaluation StayEvaluation1;


        if (!@User.IsInRole(RoleNames.Client) && @Model.StayEvaluation == null)
        {
            StayEvaluation1 = new Evaluation();
            StayEvaluation1.IsClient = false;
            StayEvaluation1.ReservationId = Model.Id;


            <partial name="~/Views/Evaluations/Create.cshtml" model="@StayEvaluation1" />
        }
        else if (Model.StayEvaluation != null)
        {
            StayEvaluation1 = Model.StayEvaluation;
            StayEvaluation1.IsClient = false;
            <span style="font-weight:bold">@Html.DisplayNameFor(model => model.StayEvaluation)</span>
            <partial name="~/Views/Evaluations/Details.cshtml" model="@StayEvaluation1" />
        }
        <br />
        <br />

        @if (@User.IsInRole(RoleNames.Client) && @Model.ClientEvaluation == null)
        {

            ClientEvaluation1 = new Evaluation();
            ClientEvaluation1.IsClient = true;
            ClientEvaluation1.ReservationId = Model.Id;


            <partial name="~/Views/Evaluations/Create.cshtml" model="@ClientEvaluation1" />
        }
        else if (Model.ClientEvaluation != null)
        {
            ClientEvaluation1 = Model.ClientEvaluation;
            ClientEvaluation1.Username = Model.Client.User.UserName;
            ClientEvaluation1.IsClient = true;

            <span style="font-weight:bold">@Html.DisplayNameFor(model => model.ClientEvaluation)</span>
            <partial name="~/Views/Evaluations/Details.cshtml" model="@ClientEvaluation1" />
        }

    }
</div>
