@model TP_PWEB.Models.Evaluation

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commentary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commentary)
        </dd>
    </dl>
</div>

