@model TP_PWEB.Models.Properties.Property

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4 ">
        <form asp-action="Create" enctype="multipart/form-data" method="post">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input type="hidden" asp-for="OwnerId" />
            <div class="form-group">
                <label style="font-weight:bold" asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label style="font-weight:bold" asp-for="Description" class="control-label"></label>
                <textarea style="resize:none" rows="5" cols="50" class="form-control" placeholder="Describe your property" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label style="font-weight:bold" asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label style="font-weight:bold" asp-for="Comodities" class="control-label"></label>
                <textarea style="resize:none" rows="5" cols="50" class="form-control" placeholder="Insert the property comodities" asp-for="Comodities"></textarea>
                <span asp-validation-for="Comodities" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group border border-1">
                <label style="font-weight:bold" asp-for="@Model.Category" class="form-control" />
                <select asp-for="@Model.CategoryId" asp-items="@Model.Categories" class="form-control">
                    <option value="">Please select the property category</option>
                </select>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="@Model.ImagesForms" class="control-label" />
                <input type="file" asp-for="@Model.ImagesForms" class="form-control-file" multiple required
                       accept=".jpg,.png" />

            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Property List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
