@using Microsoft.AspNetCore.Identity

@model TP_PWEB.Models.Properties.Property


<h1>@ViewData["Title"]</h1>


<div class="justify-content-around">
    

    @if (User.IsInRole(RoleNames.PropertyEmployee) || User.IsInRole(RoleNames.PropertyOwner))
    {
        <a class="btn-" asp-action="Index" asp-controller="Verifications" asp-route-propertyId="@Model.Id">Verifications</a>
        <a class="btn-" asp-action="Index" asp-controller="Reservations" asp-route-propertyId="@Model.Id">Reservations</a>

    }

    @*@<a class="btn-" asp-action="Index" asp-controller="Evaluation" asp-route-propertyId="@Model.Id">Comments</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-sm">
        @*<h4>Property</h4>*@


        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>
        <br />
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.PropertyManager.User.UserName)
        </div>
        <p rows="5" cols="50" class="form-control">
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>

    <div class="col-sm">
        <br />
        <br />
        <br />

        <partial name="~/Views/Shared/ImageSlideShow.cshtml" for="@Model.Images" />

    </div>

</div>

<div class="row">

    <div class="col-4 ">

        <br />
        <div style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Comodities)
        </div>

        <p rows="5" cols="50" class="form-control border border-dark">
            @Html.DisplayFor(model => model.Comodities)
        </p>

        
        @Html.DisplayNameFor(model => model.Price):

        @Html.DisplayFor(model => model.Price)
            
        <br/>
        <br />
        @if (User.IsInRole(RoleNames.Client))
        {
    
            <form  class="form-inline"  asp-controller="Reservations" asp-action="Create" asp-route-propertyId="@Model.Id" asp-route-clientId="@Model.CurrentClientId">
                <button type="submit" class="btn btn-primary rounded" >Reserve </button>
            </form>
            <br />
        }

       
    </div>
  
</div>
    <br />
    <br />
    <hr />
    <h2>Commentary</h2>


    <partial name="~/Views/Evaluations/Index.cshtml" for="@Model.StayEvaluations" />


