@model IEnumerable<TP_PWEB.Models.Properties.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole(RoleNames.PropertyOwner))
{
    <p>
        <a asp-action="Create">Register a Property</a>
    </p>

}


<table class="table table-hover ">
    <thead>
        <tr>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var url = @Url.Action("GetImage", new { imageId = item.CoverImage.Id });
            <tr>
                <td>
                    <div  class="row">
                        <div class="col-sm">
                            <img src="@url"
                                 width="200" height="200" alt="@item.Title" />

                        </div>
                        <div class="col-sm">
                            <strong style="font-weight: bold 800; font-size:large">
                                @Html.DisplayFor(modelItem => item.Title)
                            </strong>
                            <br />
                            <strong style="">
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </strong>

                        </div>
                        <div class="col-sm">
                            @*adicionar rating*@
                            @Html.DisplayFor(modelItem => item.Rating)/10
                            <br />


                            @if (User.IsInRole(RoleNames.PropertyOwner))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            }

                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>


                        </div>
                    </div>
                
            </tr>
        }
    </tbody>
</table>
