@model TP_PWEB.Models.VerificationReservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Verification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="VerificationId" />
            <input type="hidden" asp-for="ReservationId" />



            <div class="form-group">
                <label asp-for="Verification.Name" class="control-label"></label>
                <input readonly asp-for="Verification.Name" class="form-control" />
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Verification.Moment" class="control-label"></label>
                <input readonly asp-for="Verification.Moment" class="form-control" />
            </div>

            <br />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsChecked" /> @Html.DisplayNameFor(model => model.IsChecked)
                </label>
            </div>

            <br/>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <textarea style="resize:none" rows="5" cols="50" class="form-control" placeholder="make an observation" asp-for="Observation"></textarea>
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="@Model.ImagesForms" class="control-label" />
                <input type="file" asp-for="@Model.ImagesForms" class="form-control-file" multiple 
                       accept=".jpg,.png" />

            </div>

            <br />
            @if (@Model.Images.Count > 0)
            {
                <partial name="~/Views/Shared/ImageSlideShow.cshtml" for="@Model.Images" />
            }

            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back Checklist</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
