@model IEnumerable<TP_PWEB.Models.VerificationReservation>


@*<h1>@ViewData["Title"]</h1>*@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Verification.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verification.Moment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Verification.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Checked)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Verification.Moment)
                </td>

                <td>
                    @if (User.IsInRole(RoleNames.PropertyOwner))
                    {

                        <a class="btn btn-danger" asp-controller="VerificationReservations" asp-action="Delete" asp-route-id="@item.Id">Delete </a>
                        <br />
                    }
                    <a class="btn  btn-warning"asp-controller="VerificationReservations"  asp-action="Edit" asp-route-id="@item.Id">Edit </a>
                    <br />
                    

                </td>
            </tr>
        }
    </tbody>
</table>
